 p, h6 {
    font-family: Arial, sans-serif;
    color: rgb(81, 102, 172);
    font-size: 18px;
    }

    
    h6 {
    font-weight: bold;  
    }

    p {
    font-weight: normal; 
    }